@{
    ViewBag.Title = "Home Page";
}
<div class="box">
    <ul id="spots-list">
        <li class="spot" ng-repeat="spot in Spots | orderBy : '-IsAvailable'">
            <div class="spot-{{spot.CssClass}}">
                <span class="car car-{{spot.CssClass}}">{{spot.Status}}</span>
            </div>
        </li>
    </ul>
</div>