@{
    ViewBag.Title = "Home Page";
}
<div class="box" ng-controller="ParkingPlaceController">
    <ul id="spots-list">
        <li class="spot" ng-repeat="parkingPlace in ParkingPlaces.content | orderBy : '-isAvailable'">
            <div class="spot-{{spot.cssClass}}">
                <span class="car car-{{spot.cssClass}}">{{spot.status}}</span>
            </div>
        </li>
    </ul>
</div>