@{
    ViewBag.Title = "Home Page";
}
<div class="box">
    <ul id="spots-list">
        <li class="spot" ng-repeat="spot in Spots | orderBy : '-isAvailable'">
            <div class="spot-{{spot.cssClass}}">
                <span class="car car-{{spot.cssClass}}">{{spot.status}}</span>
            </div>
        </li>
    </ul>
</div>
<div class="footer">
    <p>G. Hedman, J. Takter, N. Frank</p>
    <p>© Stretch Garage</p>
</div>