<div class="content-wrapper">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
        <h2>Första uppstart</h2>
        <p>
            När appen startas upp första gången presenteras appens profilvy.
            För att komma igång och använda tjänsten fyller du i fälten <i>Ditt Namn</i> och <i>Ditt Telefonnummer</i> (telefonnumret används endast som ett unikt ID för att hålla koll på din profil).
            Där efter klickar du på <span class="btn-sm btn-primary"><i class="glyphicon glyphicon-send"></i> SKICKA</span>. Din profil registreras i tjänsten och du tas vidare till appens startsida.
        </p>

        <h2>Navigera i appen</h2>
        <h3>Appens startsida</h3>
        <p>På appens startsida listas samtliga parkeringsplatser. Denna vyn överblickar parkeringsplatsernas namn och totala antalet platser.</p>
        <h3>Detaljerad parkeringsvy</h3>
        <p>Tryck eller klicka på ett garagenamn i appens startsida för att se en detaljerad vy över en parkeringsplats. Den detaljerade vyn presenterar lediga (gröna) och upptagna (röda) platser.</p>
        <h3>Backa</h3>
        <p>
            Tappa eller klicka på <span class="btn-sm btn-primary"><i class="glyphicon glyphicon-chevron-left"></i> Backa</span> för att när som helst stega tillbaka i applikationens vyer.
        </p>

        <h2>Funktioner</h2>
        <h3>Din Profil</h3>
        <p>
            För att komma åt din profil och ändra inställningar i appen
            <ol>
                <li>Tappa eller klicka på meny-knappen (<i class="glyphicon glyphicon-align-justify"></i>) för att öppna menyn.</li>
                <li>Tappa eller klicka på Profil i menylistan.</li>
            </ol>
        </p>
        <h3>Stoppa GPS</h3>
        <p>
            GPS funktionen är igång när applikationen installeras. Ifall du känner att denna funktion inte fungerar som den ska kan du stänga av denna funktionen i inställningarna under din profil.
            <ol>
                <li>Tappa eller klicka på meny-knappen (<i class="glyphicon glyphicon-align-justify"></i>) för att öppna menyn</li>
                <li>Tappa eller klicka på Profil i menylistan</li>
                <li>Tappa eller klicka på knappen Stoppa GPS</li>
            </ol>
        </p>
        <h3>Starta GPS</h3>
        <p>
            Ifall GPS funktionen har stoppats kan du starta denna funktionen i inställningarna under din profil.
            <ol>
                <li>Tappa eller klicka på meny-knappen (<i class="glyphicon glyphicon-align-justify"></i>) för att öppna menyn</li>
                <li>Tappa eller klicka på Profil i menylistan</li>
                <li>Tappa eller klicka på knappen Starta GPS</li>
            </ol>
        </p>
        <h3>Manuell Parkering</h3>
        <p>
            Ifall något skulle gå fel med den automatiserade parkeringsprocessen kan du parkera manuellt.
            <ol>
                <li>Navigera in på den detaljerade parkeringsvyn i fråga</li>
                <li>Tappa eller klicka på meny-knappen (<i class="glyphicon glyphicon-align-justify"></i>) för att öppna menyn</li>
                <li>Tappa eller klicka på Manuell parkering i menylistan</li>
            </ol>
            <div class="panel panel-default">
                <div class="panel-body">
                    <alert style="margin-bottom: 0;" type="success" close="">Du har parkerats</alert>
                </div>
                <div class="panel-footer">
                    Ett meddelande presenteras överst på skärmen när parkeringen lyckas (ett rött felmeddelande kan komma att presenteras ifall ett fel har uppståt i tjänsten).
                </div>
            </div>
        </p>
        <h3>Manuell Avparkering</h3>
        <p>
            Ifall något skulle gå fel med den automatiserade avparkeringsprocessen kan du avparkera manuellt.
            <ol>
                <li>Tappa eller klicka på meny-knappen (<i class="glyphicon glyphicon-align-justify"></i>) för att öppna menyn</li>
                <li>Tappa eller klicka på Manuell avparkering i menylistan</li>
            </ol>
            <div class="panel panel-default">
                <div class="panel-body">
                    <alert style="margin-bottom: 0;" type="success" close="">Du har avparkerats</alert>
                </div>
                <div class="panel-footer">
                    Ett meddelande presenteras överst på skärmen när parkeringen lyckas (ett rött felmeddelande kan komma att presenteras ifall ett fel har uppståt i tjänsten).
                </div>
            </div>
        </p>

        Åtkomst via webben
        stretchgarageweb.azurewebsites.net
    </div>
</div>