<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataLayer.Properties.Settings.StretchGarageWeb_dbConnectionString"
            connectionString="Data Source=olr2zwc0yn.database.windows.net,1433;Initial Catalog=StretchGarageWeb_db;Persist Security Info=True;User ID=stretch;Password=Str_It-H09_etch;MultipleActiveResultSets=True;Application Name=EntityFramework"
            providerName="System.Data.SqlClient" />
        <add name="DataLayer.Properties.Settings.StretchGarageWeb_dbConnectionString1"
            connectionString="Data Source=olr2zwc0yn.database.windows.net;Initial Catalog=StretchGarageWeb_db;User ID=stretch;Password=Str_It-H09_etch;Connect Timeout=60"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>