/**
 * General elements
 */
body, html {
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
    height: 100%;
    font-size: 1em;
}
html {
    font-family: "Verdana", sans-serif;
    font-weight: normal;
    font-size: 62.5%;

    box-sizing: border-box;
}
body {
    font-size:1.4em;
    padding: 1em 0;
}

.clearfix:after {
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
    content: ".";
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1px;
}
.clearfix {
    display: block;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

div.wrapper {
    display: inline-block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

div.box {
    padding: 0.5em 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 1em;
}

ul {
    list-style-type: none;
    margin: 0 !important;
    padding: 0 !important;
}
li > :first-child {
    padding-left: 0.5em;
}

div#spots-list {
    display:block;
    margin: 0;
    padding: 0;
}
div#spots-list li{
    font-weight: bold;
    display:block;
}
div.row {
    margin: 0;
}
div.row:hover {
    background: #EEEEEE;
}
div.column {
    margin: 0.1em 0;
    padding:20px;
}
div.spot-green {
    background: #87D37C;
    color: #FFFFFF;
}
div.spot-red {
    color: #FFF;
    font-weight: bold;
    background: #cc3333;
}

.car {
    position: relative;
    padding-left: 48px;
}
.car::before {
    content:'';
    position: absolute;
    height: 32px;
    width: 32px;
    left: 0;
    top: -7px;
    bottom:auto;
    background-repeat: no-repeat;
    background-size: cover;
    background: url("/img/cars.png");
}
.car-green::before {
    background-position: -32px 0;
}
.car-red::before {
    background-position: 0 0;
}

.footer {
    text-align: center;
    padding:1em 1em 0 1em;
    color: #777777;
    border-top:1px solid #EEEEEE;
}

input[type=text] {
    font-size: 14px;
    margin: 0 0 8px 0;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid #aaaaaa;
    width: 40%;
}
input.ng-invalid.ng-touched {
    border: 1px solid #cc3333;
}

.glyphicon {
    margin-right: 6px;
}

/*.dropdown-menu {top: inherit; bottom: 100%; position: absolute; left: 0; z-index: 1000; display: none; float: left; min-width: 160px; padding: 5px 0; margin: 2px 0 0; font-size: 14px; list-style: none; background-color: #ffffff; border: 1px solid #cccccc; border: 1px solid rgba(0, 0, 0, 0.15); border-radius: 4px; -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); background-clip: padding-box; }
    */
@media only screen and (max-width: 500px) {
    #navbar { position: absolute;width: 100%; font-size: 1.2em;padding: 1em; bottom: 0; }
    #navbar ul {  }
    #navbar li { display: inline-block; }
}
@media only screen and (min-width: 501px) {
    #navbar { display: none;}
}